/********** MENU BAR **********/

.menu {
  text-align: center;
  overflow: auto;
  white-space: nowrap;
  padding: 5px;
}

.menu ul {
  list-style: none;
  margin: 0px 5px;
  display: inline-block;
  padding: 0;
}
.menu ul li {
  display: inline-block;
}

.menu ul li a {
  color: grey;
  padding: 21px 17px;
  margin: 0 auto;
  font-size: 15px;
  font-family: 'sans open', Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: block;
  height: 15px;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
}

.menu a:hover {
  color: #000000;
  text-decoration: none;
}

/****** NavBar ******/

.mainNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
  padding: 10px;
}

.mainNav > .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mainNav > .navLayouts > a {
  font-size: 1em;
  margin: 50px;
  color: grey;
  text-decoration: none;
  /* font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; */
}

.navbar a {
  text-decoration: none;
  padding: 25px;
  color: grey;
}

.navbar a:hover {
  color: black;
}

input {
  width: 300px;
  height: 30px;
  font-size: 1em;
  border-radius: 17px;
  border: 1px solid grey;
  text-align: center;
}

input:focus {
  outline: none;
}
input:hover {
  cursor: pointer;
}

.camera > i {
  font-size: 2em;
}

/******************** MEDIA MOBILE ********************/
@media (max-width: 840px) {
  img {
    object-fit: cover;
    width: 100%;
    max-height: 300px;
    display: block;
  }

  .mainNav > .navLayouts {
    display: none;
  }

  input {
    width: 250px;
  }
}

/****************************** MEDIA DESKTOP ******************************/
@media (min-width: 841px) {
  img {
    object-fit: cover;
    width: 100%;
    max-height: 500px;
    display: block;
  }

  /********** CSS GRID LAYOUT **********/

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 10px;
    align-items: start;
    justify-items: center;
    margin: auto;
    width: 80%;
  }

  .grid div:nth-child(4),
  .grid div:nth-child(8),
  .grid div:nth-child(12) {
    grid-column: span 4;
  }

  /********** CSS FLEXBOX LAYOUT **********/
  .flexbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    flex-wrap: wrap;
  }

  .flexbox > div {
    margin: 10px 0 10px 0;
  }

  .flexbox > div:nth-child(odd) {
    width: 30%;
  }
  .flexbox > div:nth-child(even) {
    width: 30%;
  }
  .flexbox > div:nth-child(1),
  .flexbox > div:nth-child(5),
  .flexbox > div:nth-child(9) {
    width: 100%;
  }
}
