.container-app {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 60px 400px 500px;
  /* grid-template-areas:
    "n n n n n n n n n n n n"
    "l l l l l l l l l l l l"
    "o o o o o o o o o o o o "; */
}

.navbar {
  grid-column: 1 / -1;
  /* grid-area: n; */
  background-color: orange;
}

.landing {
  grid-column: 1 / -1;
  /* grid-area: l; */
  background-color: green;
}

.landing > img {
  display: inline-block;
}

.content-one {
  grid-column: 1 / -1;
  /* grid-area: o; */
  grid-row: span 1;
  background-color: yellow;
}
